.page {
  
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  padding-top: 80px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 1em;
  text-align: center;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}
